.columns-container {
  margin: 60px 0 50px;
}

.magazine-featured .columns-container {
  margin-top: 20px;
}

 h1 {
  margin-top: 0;
  font-weight: 400;
  font-size: var(--font-size-h1);
  line-height: 1;
}

 .default-content-wrapper h1 {
  font-weight: normal;
  font-size: var(--font-size-h1);
  margin-bottom: 0;
  line-height: 1.5;
  margin-top: 1em;
}

 .columns > div {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-light);
}

 .columns img {
  width: 100%;
}

 .columns > div {
  display: flex;
  flex-direction: column;
}

 .columns > div > div {
  order: 0;
  padding: 15px;
}

 .columns > div > .columns-img-col {
  order: 1;
  padding: 0;
}

 .columns h3 {
  margin: 0 0 40px;
  font-size: var(--body-font-size-xs);
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--body-font-family);
  line-height: 1;
}

 .columns h2 {
  font-size: var(--font-size-h3);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}

 .columns > div > div > h2:first-child {
  font-size: var(--body-font-size-s);
  font-weight: 700;
  color: var(--background-color-hf);
  font-family: var(--body-font-family);
  margin-bottom: 45px;
}

 .columns > div > div > h2:nth-child(2) {
  font-size: var(--font-size-h3);
  font-weight: normal;
  color: var(--background-color-hf);
  line-height: 1.5;
}

 .columns > div > div > p {
  line-height: 1.75;
  font-size: var(--body-font-size-xs);
  margin-bottom: 0;
}

 .columns img {
  width: 100%;
  margin-top: 15px;
}

 .columns .columns-img-col img {
  width: 60px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  height: 60px;
  margin-top: 0;
}

 .columns > div > .columns-img-col img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (width >= 768px) {
   .default-content-wrapper h1 {
    margin-top: 0;
  }
}

@media (width >= 900px) {
   .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 0;
  }

   .columns > div {
    flex-direction: unset;
    gap: 60px;
  }
  
   .columns > div > div {
    flex: 1;
    order: unset;
    padding: 20px 30px;
  }

   .columns > div > .columns-img-col {
    order: 0;
  }

   .columns > div > .columns-img-col img {
    max-width: 100%;
    width: 100%;
    display: block;
    height: 510px;
  }

   .columns > div > div > h2:first-child {
    font-size: var(--body-font-size-m);
  }
  
   .columns > div > div > h2:nth-child(2) {
    font-size: var(--font-size-h3);
  }

   .columns > div > div {
    flex: 1;
    order: unset;
  }
  
   .columns > div > div:nth-child(1) {
    flex: 3;
    order: unset;
  }
}

@media (width >= 1120px) {
   .columns > div > .columns-img-col {
    flex: 2;
  }

   .columns > div > .columns-img-col img {
    max-width: 100%;
    width: 100%;
    display: block;
    height: 510px;
  }
}

 .columns h6 {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 20px 0;
}

 .columns h2::after {
  content: "";
  display: block;
  padding-top: 8px;
  width: 84px;
  border-bottom: 2px solid var(--brand-primary-color);
}

 .columns > div > div > p {
  font-size: var(--body-font-size-m);
  font-weight: normal;
  line-height: 2.5;
  margin: 0;
  text-align: justify;
}

 .columns > div > div {
  order: 1;
}

 .columns > div > .columns-img-col {
  order: 0;
}

 .columns > div > .columns-img-col img {
  display: block;
  margin-top: 40px;
}

 .columns h4 {
  font-size: var(--font-size-h4);
  margin-bottom: .25rem;
  margin-top: 0;
  font-weight: 400;
  line-height: 1.5;
}

 .columns h5 {
  color: dimgray;
  font-size: var(--body-font-size-sm);
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--body-font-family);
}

 .columns .columns-img-col ~ div p a {
  background-color: var(--background-color-hf);
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

 .columns .columns-img-col ~ div p a img {
  margin-top: 0;
}

 .columns .columns-img-col + div {
  flex: 2;
  margin-top: 40px;
}

 .columns > div > div:nth-child(1).columns-img-col {
  flex: 4;
  max-width: max-content;
}

 
